@tailwind base;
@tailwind components;
@tailwind utilities;

/* variabels */
:root {
  --primary-color: #1d3d70;
  --primary-foreground: #fdfdfe;
  --secondary-foreground: #f0f0f1;
}

/* __fonts__ */
@font-face {
  font-family: dana;
  src: url(../fonts/dana\ regular.ttf);
}

@font-face {
  font-family: dana-m;
  src: url(../fonts/dana\ medium.ttf);
}

/* __reset css__ */
*,
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  display: block;
}

/* __buttons__ */
.b-outline {
  @apply rounded-md !flex items-center gap-2 border border-gray-300 lg:py-2.5 py-2 lg:px-3 px-2.5 cursor-pointer hover:bg-gray-100 active:scale-[0.99];
}

/* __custom css__ */
/* shortcuts */
.flex-plus {
  @apply !flex justify-between items-center;
}
/* media link */
.media_link {
  @apply size-12 grid place-content-center rounded-xl bg-[--primary-color] hover:scale-110 shadow-lg hover:-translate-y-1 duration-200 text-white;
}
/* slider */
.swiper-button-next, .swiper-button-prev {
  color: #fdfdfe !important;
  width: 12px;
}
.swiper-pagination-bullet-active  {
  background-color: #fff !important;
}
/* menu */
.sub_menu {
  @apply px-4 py-3 hover:text-white bg-gray-50 hover:bg-gray-600 flex-plus relative duration-200;
}

.sub_sub_menu {
  @apply px-4 py-3 hover:text-white bg-gray-50 backdrop-blur-lg hover:bg-gray-600 flex-plus relative;
}

.menu_body {
  @apply absolute top-[60px] right-0 w-36 rounded-md  shadow-md shadow-black/5 text-black opacity-0 hidden;
}

.sub_menu_body {
  @apply absolute top-0 right-36 w-36 rounded-md  shadow-md shadow-black/5 text-black opacity-0 hidden;
}

.nav_item {
  @apply hover:bg-white/5 px-6 lg:py-5 py-3.5 cursor-pointer relative z-10;
}

.nav_item:hover .menu_icon {
  rotate: 180deg;
}
.nav_item:hover .menu_body {
  display: block !important;
  opacity: 100 !important;
}

.sub_menu:hover .sub_menu_body {
  display: block !important;
  opacity: 100 !important;
}

.nav_item:active .menu_icon {
  rotate: 180deg;
}
.nav_item:active .menu_body {
  display: block !important;
  opacity: 100 !important;
}

.sub_menu:active .sub_menu_body {
  display: block !important;
  opacity: 100 !important;
}
